nav {
    font-size: 1.5rem;
    background-color: var(--cor-primaria);
    padding: 1.5rem;
    height: 60px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 6rem;
    font-weight: 700;
    height: 100%;
}

nav a:hover{
    transition: 0.5s;
    color: #fffb00 ;
}

#img{
    position: absolute;
    left: 20px;
    top: 2px;
}

.navbar-list{
    display: inline-flex;

   
}

.navbar-list li{
    height: 100%;
    list-style: none;
}

 
.equipes{
    max-width: 1300px;
    margin: 0 auto;
    list-style-type: none;
}

.catalogo {
    background-color: var(--cor-terciaria);
    max-width: 1300px;
    margin: 0 auto;
    list-style-type: none;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--cor-secundaria);
    margin: 20px auto;
    width: 100%;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
}


.equipes h1{
    color: var(--cor-primaria);
    font-size: 4rem;
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
}

.catalogo h1 {
    color: var(--cor-primaria);
    font-size: 4rem;
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    margin-top: 1rem;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content:space-between;
}
.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
}

a{
    text-decoration: none;
    color: #333;
}


.card:hover {
    transform: scale(1.06);
    box-shadow: 0 0px 20px var(--cor-primaria);
}
.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.vazio-catalogo{
    margin: 7rem;
}

.details h3{
    font-size: 2rem;

}

.details p{
    font-size: 1.5rem;
}
